
<ul class="pending_friends">
	
	<% @pending_friends.each do |user| %>
		<div class="row">
			<div class="span1">
				<%= link_to user.name, user %>
			</div>
			<div class="span1">
				<%= form_for(current_user.relationships.find_by(friend_b_id: user.id)) do |f| %>
					<div> <%= f.hidden_field :friend_b_id %></div>
					<%= f.submit "Accept", class: "btn btn-small" %>
				<% end %>
			</div>
			<div class="span1">
				<%= form_for(current_user.relationships.find_by(friend_b_id: user.id), html: {method: :delete}) do |f| %>
					<%= f.submit "Deny", class: "btn btn-small" %>
				<% end %>
			</div>
		</div>
	<% end %>
</ul>
