<% provide(:intro, 'Welcome to') %>
<% provide(:pagename, 'Log In or Sign Up!') %>

<html>
	<%= render 'layouts/title' %>
	<h1>facebook</h1>
	<h3>Sign In </h3>
	<body>
		<div class="new hero-unit" >
			<%= form_for(:session, url: sessions_path) do |f| %>
					
				<%= f.label :email %>
				<%= f.text_field :email%>
				
				<%= f.label :password %>
				<%= f.password_field :password %>
					
				<%= f.submit "Sign In", class: "btn btn-larg btn-primary" %>
			<% end %>
		</div>
		<div class="center hero-unit">
			<h2>
				Connect with friends and share your interests on facebook!
			</h2>
			<h3>Sign Up</h3>
			<div class="row">
				<div class="span6 offset3">
					<%= form_for(@user) do |f| %>
						<%= render 'shared/error_messages' %>
						<%= f.label :name %>
						<%= f.text_field :name %>
						<%= f.label :email %>
						<%= f.text_field :email %>
						<%= f.label :password %>
						<%= f.password_field :password %>
						<%= f.label :password_confirmation, "Confirm Password" %>
						<%= f.password_field :password_confirmation %>
						<%= f.submit "Create Account", class: "btn btn-large btn-primary" %>
					<% end %>
				</div>
			<%= yield %>
			</div>
		</div>
		
	</body>
</html>

