<% provide(:pagename, @user.name) %>
<div class="row">

	<div class="span4">
	
		<h1><%= @user.name %></h1>
	
		<% if signed_in? %>
			<div class="row">
				<aside class="span4">
			
					<section>
						<%= render 'shared/userpost_form' %>
					</section>
				</aside>
			</div>
		<% end %>
	
	<%= render 'friendrequest_form' %>
	<% if @user.userposts.any? %>
		<h3> User Posts (<%= @user.userposts.count %>)</h3>
		<ol class="userposts">
			<%= render @userposts %>
		</ol>
		<%= will_paginate @userposts %>
	<% end %>
	</div>


	<div class="span4 offset1 info">

		
		<h4> Hobbies </h4>
		<div class="row">
			<%= @user.hobbies %>
		</div>
		
		<h4> Age </h4>
		<div class="row">
			<%= @user.age %>
		</div>
		
		<h4> Favorite Gender </h4>
		<div class="row">
			<%= @user.gender %>
		</div>
		
		<h4> Occupation </h4>
		<div class="row">
			<%= @user.ocupation %>
		</div>
		
		<h4> Favorite Books </h4>
		<div class="row">
			<%= @user.books %>
		</div>
		
		<h4> Favorite Movies </h4>
		<div class="row">
			<%= @user.movies %>
		</div>
		
		<h4> Favorite Bands </h4>
		<div class="row">
			<%= @user.bands %>
		</div>
		
		<h4> Favorite Song </h4>
		<div class="row">
			<%= @user.song %>
		</div>
		
		<h4> About Me </h4>
		<div class="row">
			<%= @user.about_me %>
		</div>
		
	</div>


</div>
