<li id="<%= newsfeed_item.id %>" >
	<span class="user">
		<%= link_to newsfeed_item.user.name, newsfeed_item.user %>
	</span>
	<span class="content"><%= newsfeed_item.content %></span>
	<span class="timestamp">
		Posted <%= time_ago_in_words(newsfeed_item.created_at) %> ago.
	</span>
	<% if newsfeed_item.user == current_user %>
		<%= link_to "delete", newsfeed_item, method: :delete, data: { confirm: "Are you sure you want to delete this post?" }, title: newsfeed_item.content %>	
	<% end %>
</li>
