<!DOCTYPE html>
<html>
	<head>
		<title><%= yield(:intro) %> Facebook | <%= yield(:pagename) %></title>
		<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
		<%= csrf_meta_tags %>
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.come/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>
	<body>
		<header class="navbar navbar-fixed-top navbar-inverse">
			<div class="navbar-inner">
				<div class="container">
					<%= link_to "facebook", '#', id: "logo" %>
					<nav>
						<ul class="nav pull-right">
							<li><%= link_to "Newsfeed", '#' %></li>
							<li><%= link_to "Friends", '#' %></li>
							<li><%= link_to "Profile", '#' %></li>
						</ul>
					</nav>
				</div>
			</div>
		</header>
		<div class="container">
			<%= yield %>
		</div>
	</body>
</html>
